<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itsource.aigou.core.mapper.ProductExtMapper">
  <resultMap id="BaseResultMap" type="cn.itsource.aigou.core.domain.ProductExt">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="createTime" jdbcType="BIGINT" property="createTime" />
    <result column="updateTime" jdbcType="BIGINT" property="updateTime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="productId" jdbcType="BIGINT" property="productId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.itsource.aigou.core.domain.ProductExt">
    <result column="richContent" jdbcType="LONGVARCHAR" property="richContent" />
  </resultMap>
  <sql id="Base_Column_List">
    id, createTime, updateTime, description, productId
  </sql>
  <sql id="Blob_Column_List">
    richContent
  </sql>
  <select id="get" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_product_ext
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="getByProductId" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
  	 select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_product_ext
    where productId = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from t_product_ext
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" parameterType="cn.itsource.aigou.core.domain.ProductExt">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_product_ext (createTime, updateTime, description, 
      productId, richContent)
    values (#{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, #{description,jdbcType=VARCHAR}, 
      #{productId,jdbcType=BIGINT}, #{richContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="savePart" parameterType="cn.itsource.aigou.core.domain.ProductExt">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_product_ext
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        createTime,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="productId != null">
        productId,
      </if>
      <if test="richContent != null">
        richContent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="richContent != null">
        #{richContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updatePart" parameterType="cn.itsource.aigou.core.domain.ProductExt">
    update t_product_ext
    <set>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        productId = #{productId,jdbcType=BIGINT},
      </if>
      <if test="richContent != null">
        richContent = #{richContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.itsource.aigou.core.domain.ProductExt">
    update t_product_ext
    set createTime = #{createTime,jdbcType=BIGINT},
      updateTime = #{updateTime,jdbcType=BIGINT},
      description = #{description,jdbcType=VARCHAR},
      productId = #{productId,jdbcType=BIGINT},
      richContent = #{richContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="update" parameterType="cn.itsource.aigou.core.domain.ProductExt">
    update t_product_ext
    set createTime = #{createTime,jdbcType=BIGINT},
      updateTime = #{updateTime,jdbcType=BIGINT},
      description = #{description,jdbcType=VARCHAR},
      productId = #{productId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>