<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itsource.aigou.core.mapper.ProductPropertyMapper">
  <resultMap id="BaseResultMap" type="cn.itsource.aigou.core.domain.ProductProperty">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="createTime" jdbcType="BIGINT" property="createTime" />
    <result column="productId" jdbcType="BIGINT" property="productId" />
    <result column="propertyId" jdbcType="BIGINT" property="propertyId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, createTime, productId, propertyId
  </sql>
  <select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_product_property
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from t_product_property
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" parameterType="cn.itsource.aigou.core.domain.ProductProperty">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_product_property (createTime, productId, propertyId
      )
    values (#{createTime,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{propertyId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="savePart" parameterType="cn.itsource.aigou.core.domain.ProductProperty">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_product_property
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        createTime,
      </if>
      <if test="productId != null">
        productId,
      </if>
      <if test="propertyId != null">
        propertyId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="propertyId != null">
        #{propertyId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updatePart" parameterType="cn.itsource.aigou.core.domain.ProductProperty">
    update t_product_property
    <set>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        productId = #{productId,jdbcType=BIGINT},
      </if>
      <if test="propertyId != null">
        propertyId = #{propertyId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="update" parameterType="cn.itsource.aigou.core.domain.ProductProperty">
    update t_product_property
    set createTime = #{createTime,jdbcType=BIGINT},
      productId = #{productId,jdbcType=BIGINT},
      propertyId = #{propertyId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>